@use '../colors.scss';

.is-errored {
  border-color: colors.$error !important;
}

.is-filled {
  border-color: colors.$gray300 !important;
}

.is-focused {
  border-color: colors.$primary !important;
}
